@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
:root {
  --font-general: "Neucha", sans-serif;
  --color-bluedark: #696773;
  --color-sky: #9bb1ff;
  --color-light: #e2fdff;
  --color-pink: #ffa69e;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--font-general);
}

.header__contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__contacts-link {
  display: block;
  margin-right: 18px;
}
.header__contacts-link.icon {
  width: 40px;
  height: 40px;
  border-radius: 20px 25px 40px 20px;
  overflow: hidden;
}

.header__contacts-link.tel {
  text-decoration: none;
  padding: 18px 0 18px 0;
  color: var(--color-bluedark);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}
.header__contacts-link img {
  width: 100%;
}
.header__contacts-link.icon:hover {
  box-shadow: 0 0 15px var(--color-sky);
  background-color: var(--color-sky);
}
.header__contacts-link.tel:hover {
  color: var(--color-sky);
  text-shadow: 0 0 15px var(--color-sky);
}
.header__contacts-link.icon:active {
  box-shadow: 0 0 15px var(--color-pink);
  background-color: var(--color-pink);
}
.header__contacts-link.tel:active {
  text-shadow: 0 0 15px var(--color-pink);
  color: var(--color-pink);
}

/*--------------------------HEADER DESKTOP------------------------------*/

.header__toolbar {
  box-sizing: border-box;
  background-color: var(--color-sky);
  height: 65px;
  overflow: hidden;
  width: 100%;
  border: 1px solid var(--color-bluedark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.header__tolbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(155, 177, 255, 0.9);
}
.header__toolbar__burger {
  display: none;
}

.header__toolbar__logo {
  padding-left: 10px;
  width: 70px;
  height: 100%;
}
.header__toolbar__logo-image {
  height: 100%;
}
.header__toolbar__name {
  color: var(--color-light);
  cursor: pointer;
  user-select: none;
  transition: all 0.4s;
}
.header__toolbar__name:hover {
  text-shadow: 1px 3px 5px white;
  color: var(--color-bluedark);
}
.header__toolbar__name:active {
  color: var(--color-pink);
}
.header__name__mini {
  text-align: center;
  display: none;
}
.header__toolbar__name h1,
h3 {
  font-weight: normal;
  text-align: center;
  padding: 0 10px;
  margin: 0;
}
.header__toolbar__name h1 {
  font-size: 36px;
}
.header__toolbar__name h3 {
  font-size: 18px;
}

.header__toolbar__burger img {
  width: 100%;
}

.header__menu__list {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  text-align: center;
}
.header__menu__list li {
  padding-left: 15px;
}
.header__menu__list a {
  text-decoration: none;
  color: var(--color-light);
  transition: all 0.5s;
}
.header__menu__list a:hover {
  color: var(--color-bluedark);
  text-shadow: 5px 5px 10px 15px white;
}
.header__menu__list a:active {
  color: var(--color-pink);
  text-shadow: 5px 5px 10px var(--color-pink);
}
/*---------------------- FOOTER-------------------------*/
footer {
  border-top: 1px solid var(--color-bluedark);
  background-color: var(--color-sky);
  display: flex;
  justify-content: space-between;
}

footer a {
  display: block;
}
footer img {
  vertical-align: middle;
}
.footer__contacts-link {
  display: block;
  margin: 0;
  padding: 0;
}
.footer__contacts-link img {
  border-radius: 20px 50px 20px 50px;
  margin-right: 10px;
  overflow: hidden;
}

.footer__contacts-link {
  text-decoration: none;
  padding: 5px 0 10px 0;
  color: var(--color-light);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
}
.footer__contacts-link:hover {
  color: var(--color-bluedark);
  text-shadow: 10px 10px 10px white;
}
.footer__contacts-link img:hover {
  background-color: #fff;
  box-shadow: 0 0 15px white;
}
.footer__contacts-link:active {
  color: var(--color-pink);
  text-shadow: 10px 10px 10px var(--color-pink);
}
.footer__contacts-link img:active {
  box-shadow: 0 0 15px var(--color-pink);
  background-color: var(--color-pink);
}
.cabinet__login {
  display: none;
}
.cabinet__login__visible {
  display: block;
}
/*----------------------MOBILE ------------------*/
@media (max-width: 770px) {
  /*---------------------- HEADER-------------------------*/
  .header__contacts {
    display: none;
  }
  .header__toolbar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 9998;
  }
  .header__toolbar__logo {
    padding-left: 0;
  }

  .header__toolbar__name h1,
  h3 {
    padding: 0;
    margin: 0;
  }

  .header__toolbar__burger {
    display: block;
    width: 60px;
  }
  .header__toolbar__burger-clicked {
    transform: rotateZ(90deg);
  }
  .header__menu {
    background-color: rgba(155, 177, 255, 0.8);
    width: 100%;
    position: fixed;
    top: 65px;
    left: -100%;
    transform: translatex(-50%);
    z-index: 9999;
    transition: all 0.5s;
    border-top: 1px solid var(--color-bluedark);
    border-bottom: 1px solid var(--color-bluedark);
  }
  .header__menu__list {
    flex-direction: column;
  }
  .header__menu__list li {
    padding: 5px 0 10px;
    font-size: 28px;
  }
  .menu-burger {
    top: 65px;
    left: 50%;
  }
}
@media (max-width: 350px) {
  .header__toolbar__name {
    display: none;
  }
  .header__name__mini {
    display: block;
  }
  .header__name__mini p {
    text-align: center;
  }
}
