@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
:root {
  --font-general: "Neucha", sans-serif;
  --color-bluedark: #696773;
  --color-sky: #9bb1ff;
  --color-light: #e2fdff;
  --color-pink: #ffa69e;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--font-general);
}

.header__contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__contacts-link {
  display: block;
  margin-right: 18px;
}
.header__contacts-link.icon {
  width: 40px;
  height: 40px;
  border-radius: 20px 25px 40px 20px;
  overflow: hidden;
}

.header__contacts-link.tel {
  text-decoration: none;
  padding: 18px 0 18px 0;
  color: var(--color-bluedark);
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}
.header__contacts-link img {
  width: 100%;
}

/*--------------------------HEADER DESKTOP------------------------------*/
.header__toolbar {
  box-sizing: border-box;
  background-color: var(--color-sky);
  height: 70px;
  width: 100%;
  border: 1px solid var(--color-bluedark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.header__toolbar__burger {
  display: none;
}
.header__toolbar {
  box-sizing: border-box;
  background-color: var(--color-sky);
  height: 70px;
  width: 100%;
  border: 1px solid var(--color-bluedark);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.header__toolbar__logo {
  margin-top: 10px;
  padding-left: 60px;
  width: 70px;
  height: 70px;
}
.header__toolbar__logo-image {
  width: 100%;
}
.header__toolbar__name {
  color: var(--color-light);
}
.header__toolbar__name h1,
h3 {
  font-weight: normal;
  text-align: center;
  padding: 0 10px;
  margin: 0;
}
.header__toolbar__name h1 {
  font-size: 36px;
}
.header__toolbar__name h3 {
  font-size: 24px;
}

.header__toolbar__burger img {
  width: 100%;
}
.header__menu {
  background-color: var(--color-sky);
  color: var(--color-light);
}
.header__menu__list {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  text-align: center;
}
.header__menu__list li {
  padding-left: 15px;
}

/*----------------------MOBILE FIRST------------------*/
/*---------------------- MOBILE HEADER TOOLBAR-------------------------*/
@media (max-width: 770px) {
  .header__toolbar {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9998;
  }
  .header__toolbar__logo {
    padding-left: 0;
  }
  .header__toolbar__name h1,
  h3 {
    padding: 0;
    margin: 0;
  }

  .header__toolbar__burger {
    display: block;
    width: 60px;
  }
  .header__menu {
    width: 100%;
    position: fixed;
    bottom: -100%;
    left: -100%;
    transform: translatex(-50%);
    font-size: 36px;
    z-index: 9999;
    transition: all 0.5s;
    border-top: 1px solid var(--color-bluedark);
  }
  .header__menu__list {
    flex-direction: column;
  }
  .header__menu__list li {
    padding: 15px 0 15px;
    font-size: 36px;
  }
  .menu-burger {
    bottom: 0;
    left: 50%;
  }
}
/*----------------------MOBILE FIRST------------------*/
