@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
:root {
  --font-general: "Neucha", sans-serif;
  --color-bluedark: #696773;
  --color-sky: #9bb1ff;
  --color-light: #e2fdff;
  --color-pink: #ffa69e;
}
main {
  width: 100%;
  color: var(--color-bluedark);
  font-size: 25px;
  margin-top: 100px;
}
main * {
  box-sizing: border-box;
}
/*   ---------------------- ABOUT-------------------------*/
.main__about {
  width: 100%;
}
.main__about h2 {
  color: var(--color-bluedark);
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}
.main__about p {
  list-style: 30px;
  text-align: justify;
  padding: 10px;
  margin: 0;
}
.main__about img {
  width: 50%;
  margin-right: 10px;
  border: 1px solid var(--color-bluedark);
  float: left;
}

.main__about__conditions {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.main__about__todo {
  width: 1px;
  background-color: var(--color-sky);
  color: var(--color-light);
  padding: 20px;
  transition: all 1s;
  opacity: 0;
}
.main__about__todo-normal {
  width: 50%;
  opacity: 100%;
}

.main__about__nottodo {
  width: 1px;
  background-color: var(--color-pink);
  color: white;
  padding: 20px;
  transition: all 1s;
  opacity: 0;
}
.main__about__nottodo-normal {
  width: 50%;
  opacity: 100%;
}

/*   ---------------------- SERVICES-------------------------*/
.services {
  width: 100%;
  position: relative;
  margin-top: 100px;
  opacity: 0;
  transition: all 1.5s;
}
.services-normal {
  opacity: 100%;
}
.services * {
  box-sizing: border-box;
}
.services h2 {
  padding: 15px 15px;
}
.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.services__item {
  padding: 10px;
  cursor: pointer;
}

.services__item h3 {
  text-align: left;
  font-size: 20px;
}
.services__item img {
  border: 1px solid var(--color-bluedark);
  width: 100%;
  opacity: 90%;
  transition: all 0.2s;
}
.services__item img:hover {
  box-shadow: 0 0 15px var(--color-sky);
}
.services__back__detail {
  width: 90%;
  font-size: 20px;
  display: none;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  border: 1px solid var(--color-bluedark);
  background-color: rgba(155, 177, 255, 0.8);
  color: white;
  transform: translateX(-50%) translateY(-50%);
  padding: 15px;
  max-height: 80%;
  border-radius: 30px 50px 30px 50px;
  cursor: pointer;
}
.visible__box {
  display: block;
}
.services__back__detail p {
  text-align: justify;
}
/*   ---------------------- CERTIFICATES-------------------------*/
.certificates {
  width: 100%;
  margin: auto;
  opacity: 0;
  transition: all 1s;
  margin-bottom: 100px;
  margin-top: 50px;
  transform: rotateZ(90deg);
}
.certificates-normal {
  opacity: 100%;
  transform: rotateZ(0);
}
.certificates h2 {
  text-align: center;
}

.certificates__slider {
  width: 70%;
  margin: auto;
  position: relative;
}
.certificates__slider-btn {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  width: 5%;
  outline: none;
  transition: all 0.2s;
}
.certificates__slider-btn-image {
  width: 100%;
  display: block;
  outline: none;
  opacity: 30%;
}
.certificates__slider-btn-image:hover {
  opacity: 50%;
}
.certificates__slider-btn-image:active {
  opacity: 100%;
}

.certificates__slider-btn.next {
  right: -5%;
  height: 100%;
}
.certificates__slider-btn.prev {
  left: -5%;
  height: 100%;
}
.certificates__item {
  box-sizing: border-box;
  display: none;
  width: 100%;
  border: 1px solid var(--color-bluedark);
}
.certificates__slider img:first-child {
  display: block;
}

/*---------------------- SCHEDULE -----------------------*/
.schedule {
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.schedule__hour {
  background-color: rgba(155, 177, 255, 0.8);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.schedule__hour div {
  cursor: pointer;
  border: 1px solid var(--color-bluedark);
  text-align: center;
}
.shedule__hour_div.taken {
  background-color: var(--color-pink);
}

/*----------------------------------------------      MOBILE VERSION    770px          --------------------------------------*/
@media (max-width: 770px) {
  .main__about__todo {
    width: 100%;
  }
  .main__about img:nth-child(1) {
    width: 100%;
  }
  .main__about__nottodo {
    width: 100%;
  }

  /*   ---------------------- SERVICES-------------------------*/
  .services__container {
    grid-template-columns: 1fr;
  }
  /*----------------------------- SCHEDULE ----------------------*/
  .schedule__hour {
    width: 100%;
  }
}

/*----------------------------------------------      MOBILE VERSION    350px          --------------------------------------*/
@media (max-width: 350px) {
  .header__toolbar__name {
    display: none;
  }
  .header__name__mini {
    display: block;
  }
  .header__name__mini p {
    text-align: center;
  }
}
